#right-content{
    grid-area: rightContent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #0C090A;
    padding-top: 20px;
    gap: 16px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Roboto";
}

#folderHeader {
    font-size: 50px;
    color: white;
    font-family: 'Roboto';
}

#taskListing{
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 200px
}

#folderHeader {
    align-self: center;
}

.taskListingBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid;
    padding: 4px;
}

.taskListingLeftContainer, .taskListingRightContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.taskListingRightContainer {
    justify-content: space-between;
    width: 20%;
    padding-right: 8px;
}

.taskListingIsCompleted {
    background-image: url("./check-outline.svg");
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 75%;
    border: 2px solid;
    order: 0;
}

#folderBox {
    width: 99%;
    order: -1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#folderBoxHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

#folderHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#projectDelete{
    align-self: flex-start;
}

#folderHeaderName {
    font-family: 'Roboto';
    font-size: 50px;
    order: -1;
}


.taskListingName{
    font-weight: 700;
}


#timeHeaderContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#sortBox {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

#sortDropDown, .folderDropDown{
    background-color: #0C090A;
    color: white;
}


.taskListingFolder {
    order: 3;
}

#folderDescription {
    font-family: monospace;
    max-width: 35%;
    line-height: 1.2;
}

.folderHeaderNameEditable{
    max-width: 35%;
    line-height: 1.2;
}
.folderHeaderNameEditable:hover {
    cursor: pointer;
    text-decoration: underline;
   
}

.folderDescriptionEditable:hover {
    cursor: pointer;
    text-decoration: underline;
    
}

.taskListingName:hover {
    cursor: pointer;
    text-decoration: underline;
    
}

.taskListingFolder:hover {
    cursor: pointer;
    text-decoration: underline;
    
}


.taskListingDueTime:hover{
    cursor: pointer;
    text-decoration: underline;
    
}

.taskListingDelete:hover{
    cursor: pointer;
    
}

#sortAnchor:hover{
    cursor: pointer;
    
}

#sortAnchor {
    text-decoration: underline;
}

.taskListingDelete {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 0;
    text-decoration: none;
    
    color: white;
    border-radius: 75%;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 25px;
    min-height: 25px;
    height: 25px;
    width: 25px;
}

.taskListingDelete:hover,
.taskListingDelete:focus {
    
    transform: scale(1.25);
    color: red;
}

.taskListingDelete:focus {
    outline: 1px solid rgb(0, 0, 0);
    outline-offset: -4px;
}

.taskListingDelete:active {
    transform: scale(0.95);
}

.taskListingIsCompleted {
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.taskListingIsCompleted:hover,
.taskListingIsCompleted:focus {
    transform: scale(1.05);
    background-color: white;
}

.taskListingIsCompleted:active {
    transform: scale(0.95);
}

#projectDelete{
    color: red;
    cursor: pointer;
}


#projectDelete:hover,
#projectDelete:focus {
    cursor: pointer;
    transform: scale(1.25);
}

#projectDelete:active {
    transform: scale(0.95);
}