html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***********^reset^*******************/
html,body {
    width: 100%;
    height: 100%;
}

#content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: "leftContent rightContent" 1fr
                    /1fr 4fr;
}

#left-content{
    grid-area: leftContent;
    color: white;
    background-color: #0C090A;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    border-right: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto';
}

#projectsContainer {
    font-size: 40px;
}

#projectsHeader {
    font-size: 50px;   
}

#inboxHeader {
    font-size: 50px;
}

#inboxHeader:hover {
    text-decoration: underline;
    cursor: pointer;
}
.projectFolderTitle {
    font-size: 20px;
}
.projectFolderTitle:hover {
    text-decoration: underline;
    cursor: pointer;
}

#newProject {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: white;
    color: #0C090A;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#newProject:hover,
#newProject:focus {
    background: white;
}

#newProject:focus {
    outline: 1px solid rgb(0, 0, 0);
    outline-offset: -4px;
}

#newProject:active {
    transform: scale(0.95);
}

#logo {
    background-image: url("./logo.svg");
    background-size: 100%;
    height: 150px;
    width: 150px;
    margin-top: -15px;
}