html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***********^reset^*******************/
html{
    zoom: 200%;
}

html,body {
    width: 100%;
    height: 100%;
    /*font-size: calc(1rem + 1vw);*/
    
}

#content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: "leftContent" 1fr
                    "projectsBox" 1fr
                    "rightContent" 10fr
                    /1fr;
    
}

#left-content{
    grid-area: leftContent;
    color: white;
    background-color: #0C090A;
    display: flex;
    font-family: 'Roboto';
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Roboto";
    gap: 10px;
}

#logo {
    background-image: url("./logo.svg");
    background-size: 100%;
    height: 100px;
    width: 100px;
}

#logo:hover {
    cursor: pointer;
}

#logoText {
    font-family: 'Roboto';
    margin-left: 10px;
}

#projectsBox {
    grid-area: projectsBox;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    padding: 4px;
    background-color: #0C090A;
    color: white;
    border-bottom: 1px white solid;
    
}

#projectIntro{
    text-align: center;
    font-size: 40px;
}

li {
    margin-right: 15px;
    list-style: none;
}

#projectsContainer {
    padding-top: 10px;
    font-size: 40px;
    display: flex;
    
    flex-direction: row;
    flex-flow: row wrap;
    gap: 10px;
    margin-left: 5px;
    
}

#projectsHeader {
    font-size: 50px;   
}



#inboxHeader {
    font-size: 50px;
}

#inboxHeader:hover {
    text-decoration: underline;
    cursor: pointer;
}
.projectFolderTitle {
    font-size: 20px;
}
.projectFolderTitle:hover {
    text-decoration: underline;
    cursor: pointer;
}

#newProject {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: none;
    padding: 1rem 1rem;
    margin: 0;
    text-decoration: none;
    background: white;
    color: #0C090A;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    max-width: 100px;
    max-height: 50px;
}

#newProject:hover,
#newProject:focus {
    background: white;
    transform: scale(1.05);
}

#newProject:focus {
    outline: 1px solid rgb(0, 0, 0);
    outline-offset: -4px;
}

#newProject:active {
    transform: scale(0.95);
}

